$dark_blue: rgba(37, 78, 123, 1);
$cyan_azure: rgba(85, 132, 177, 1);
$aero: rgba(133, 193, 229, 1);
$azureish_white: rgba(203, 226, 239, 1);
$linen: rgba(248, 243, 234, 1);
$white: hsl(272, 100%, 100%);

$main-bg-col: $dark_blue;
$nav-bg-col: $cyan_azure;

$btn-bg-dark: $cyan_azure;
$btn-bg-light: $azureish_white;
$drop-content-hover: $azureish_white;

$msg-bg: $linen;
$msg-alert: hsla(346, 66%, 65%, 1);
$form-bg: $linen;

$icons-col: $dark-blue;
$color-logo: $white;