body {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4; }

/*** Navigation layout ***/
.nav-sidebar {
  top: 5em;
  border-right: solid 5px #6e4b77; }

.nav-sidebar ul {
  display: block;
  margin-left: 2em;
  padding: 0.5em 0;
  list-style: none; }

.nav-sidebar li {
  padding: 0.3em; }

.nav-sidebar a {
  text-decoration: none; }

.container {
  margin: 0 auto;
  display: grid;
  max-width: 1250px;
  grid-template-columns: 1fr 3fr;
  position: relative;
  top: 5em; }

.main-content {
  margin: 1em 2em; }

/*** header layout ***/
.top-header {
  background-color: #6e4b77;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; }

.logo {
  margin: 0.8em; }

/*** logo component styles ***/
.logo {
  color: white;
  text-decoration: none; }

/*** Forms styles ***/
.search-form {
  width: 80%;
  box-sizing: border-box;
  padding: 0.5em; }

select,
input[type="search"] {
  padding: 0.8em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px; }

.search-form__select {
  width: 25%; }

.search-form__search-input {
  width: 70%; }

input[type="text"] {
  margin: 0.5em;
  padding: 0.8em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px; }

/*** Buttons ***/
.btn {
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block; }
  .btn:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
