<!-- add_bok.nunjucks -->
{% set title = 'Add New Book' %}
{% extends "layout.njk" %}

{% block content%}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %}
    <div class="main-content">

    <form id="js-add-book-form" class="add-form">
        <div class="add-form__elm"> 
          <label for="title">Title:</label>
          <input type="text" id="js-title-input" name="title" placeholder="Book Title" required/>
        </div>
        <div class="add-form__elm">
          <label for="isbn">ISBN:</label>
          <input type="text" id="js-isbn-input" name="isbn" pattern="\d{8,13}" placeholder="12345678" required />
        </div>
        <div class="add-form__elm">
          <label for="author">Author:</label>
          <input type="text" id="js-author-input" name="name"  placeholder="John Doe" required />
        </div>
        <div class="add-form__elm">
          <button id="js-add-book" class="btn">Submit</button>
        </div>
    </form>
     <!-- Adds animation partial -->
    {% include "partials/animation.njk" %}

    </div> <!-- end .main-content -->

{% endblock %}

{% block js %}
  <script src="source/js/all.js"></script>
  
{% endblock %}