<!-- add_user.nunjucks -->
{% set title = 'Add New User' %}
{% extends "layout.njk" %}

{% block content%}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %}
  <div class="main-content">

    <form class="add-form">
      <div class="add-form__elm"> 
        <label for="js-full-name">Full Name:</label>
        <input type="text" id="js-full-name" name="name" placeholder="John Doe" required>
      </div>
      <div class="add-form__elm">
        <label for="js-barcode">Barcode:</label>
        <input type="text" id="js-barcode" name="barcode" required pattern="\d{5,}" placeholder="12345">
      </div>
      <div class="add-form__elm">
        <label for="js-member-type">Member type:</label>
        <select id="js-member-type" name="memberType" class="add-form__elm--select">  
          <option value="Student" selected>Student</option>
          <option value="Staff">Staff</option>
        </select>
      </div>
      <div class="add-form__elm">
        <input type="submit" id="js-add-user" value="Submit" class="btn">
      </div>
    </form>
    
    <!-- Adds animation partial -->
   {% include "partials/animation.njk" %}
  </div>
{% endblock %}
