<!-- books.nunjucks -->
{% set title = 'Book Records' %}
{% extends "layout.njk" %}

{% block content %}

<!-- Adds the navigation partial -->
{% include "partials/navigation.njk" %}
  <div class="main-content">
    <h3>All books</h3>
    <div class="book-search">
        <div class="book-search__elm"> 
          <input type="search" name="book-search" id="js-book-search" class="book-search__elm" placeholder="I'm looking for...">
          <i class="fas fa-search"></i>
        </div>
                
        <a class="book-search__elm" href="/add_book.html">
          <button class="btn">Add new book</button>
        </a>
        
    </div>

    
    <!-- Adds animation and message partial -->
   {% include "partials/animation.njk" %} 
    <ul class="show-all-books show-search-results">
      <li class="show-search-results__item--user "> 
          <h4>Title </h4> 
          <h4>Author </h4>
          <h4>ISBN </h4>
          <h4>Action </h4>
      </li>
     </ul>
  </div>  


{% endblock %}
  
{% block js %}
  <script src="source/js/all.js"></script>
 {% endblock %}