<!-- index.nunjucks -->
{% set title = 'Home Page' %}
{% extends "layout.njk" %}

{% block content %}


<!-- Adds the navigation partial -->
{% include "partials/navigation.njk" %}
    <div class="main-content">
      <h2> Welcome to the PontryBridge University Library!</h2>
      <h3>The Library has the following records counts:</h3>
      <ul class="library-info">
        <li>Books: <span id="books-count"></span></li>
        <li>Books available: <span id="books-av-count"></span></li>
        <li>Users: <span id="users-count"></span></li>
      </ul>
    </div>  


 {% endblock %}

{% block js %}
  {# <script src="source/js/main.js"></script> #}
  <script src="source/js/all.js"></script>
  
{% endblock %}