<!-- loans.nunjucks -->
{% set title = 'Loans Service' %}
{% extends "layout.njk" %}

{% block content%}

<!-- Adds the navigation partial -->
{% include "partials/navigation.njk" %}

<div class="main-content">
  <h2>Loans Service</h2>
  <div class="welcome-user ">
    <h2>Hi, User!</h2>
    <p>What's your barcode number, please?</p>
    <form class="get-barcode-form">
      <input type="search" class="js-barcode-input" placeholder="Barcode" pattern="\d{5,}" required>
      <input type="submit" value="submit" class="btn js-barcode-search">
    </form> 
  </div>
    
  <div class="show-user-loans">
    <div class="show-user-loans__elm--books">  
      
      <h2>Hi, <span class="user-name"> </span>! </h2>
      <p>You have <span class="loaned-books-count"> </span> on loan.</p>
      <ul class="loaned-books">
      </ul>
    </div> 

    <div class="show-user-loans__elm--search">
      <h4>What book would you like to loan?</h4>
      <form class="book-search-form">
        <input type="search" class="js-book-search-input"placeholder="Book Title" required>
        <input type="submit" value="Search" class="btn js-book-search" >
      </form>  
    </div>
  </div>   
  <!-- Adds animation partial -->
   {% include "partials/animation.njk" %}
    
   <ul class="show-search-results">
    
    </ul>
   
 
</div>  
{% endblock %}
 