 <!-- search.nunjucks -->
 {% set title = 'Search' %}
{% extends "layout.njk" %}

{% block content%}

<!-- Adds the navigation partial -->
{% include "partials/navigation.njk" %}
  <div class="main-content">
    {# <p class="search-para">I'm looking for...</p> #}
    <form class="search-form">
        <label>I'm looking for...</label>
        <select name="type" id="search-type"  class="search-form__select">
          <option value="book">Book</option>
          <option value="user">User</option>
          {# <option value="author">Author</option> #}
        </select>
        <input type="search" id="search" name="search" required class="search-form__search-input"> 
        <input type="submit" value="Submit" class="btn search-form__submit">
        
      </form>
      <!-- add modify user form -->
      {% include "partials/modify-user.njk" %} 
      {# <form class="form--update-user">
      
        <div class="form--update-user__elm"> 
          <label for="full-name">Full Name:</label>
          <input type="text" id="js-update-name" name="name" required>
        </div>
        <div class="form--update-user__elm">
          <label for="member-type">Member type:</label>
          <select id="js-update-member-type" name="memberType" class="form--update-user__elm--select">  
            <option value="Student" selected>Student</option>
            <option value="Staff">Staff</option>
          </select>
        </div>
      <div class="form--update-user__elm">
        <input type="submit" id="js-update-user" value="Submit" class="btn">
      </div>
      
      </form> #}

    <!-- Adds animation and message partial -->
   {% include "partials/animation.njk" %} 
      <ul class="show-search-results"></ul>
      
  </div>
{% endblock %}

{% block js %}
  <script src="source/js/all.js"></script>
  
{% endblock %}
