<!-- users.nunjucks -->
{% set title = 'Users Records' %}
{% extends "layout.njk" %}

{% block content %}

<!-- Adds the navigation partial -->
{% include "partials/navigation.njk" %}
  <div class="main-content">
    <h3>All users</h3>
    <div class="user-search">
        <div class="user-search__elm">
          <input type="search" name="user-search" id="js-user-search" class="user-search__elm" placeholder="I'm looking for...">
          <i class="fas fa-search"></i>
        </div>
        
        
        <a class="user-search__elm" href="/add_user.html">
          <button class="btn">Add new user</button>
        </a>
        
    </div>
    <!-- add modify user form -->
      {% include "partials/modify-user.njk" %} 
    
    <!-- Adds animation and message partial -->
   {% include "partials/animation.njk" %} 
    <ul class="show-all-users show-search-results">
      <li class="show-search-results__item--user "> 
          <h4> Name </h4> 
          <h4> Barcode </h4>
          <h4> Member Type </h4>
          <h4> Action </h4>
      </li>
    </ul>

  </div>  
{% endblock%}

{% block js %}
  <script src="source/js/all.js"></script>
{% endblock %}