/* *** Buttons *** */
.btn {
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  background-color: $btn-bg-light;

  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.add-form .btn {
  width: 100%;
}