/* *** message div *** */
.message {
  display: none;
  position: relative;
  margin: 1.5em auto;
  width: 100%;
  padding: 0.8em 0.8em;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  background-color: $msg-bg;

  &--alert {
    background-color: $msg-alert;
  }

  @include xl {
    width: 60%;
    margin: 1.5em auto;
  }
}

.message .fa-times {
  position: absolute;
  right: 5px;
  top: 2px;
  color: $cyan_azure;
  z-index: 2;
}