/* *** Book Page styles *** */

.book-search,
.user-search {
  display: grid;
  grid-template-columns: 300px;


  &__elm {
    margin: 0.2em 0;
    width: 100%;
    position: relative;

    & .fa-search {
      position: absolute;
      right: 2px;
      color: rgb(173, 171, 171);
      padding: 0.6em;

    }
  }

}