<!-- layout.njk-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PontyBridge University Library: {{ title }}</title>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet"> 
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div class="container">
    <header class="top-header">
      <div class="logo">
        <i class="fas fa-book"> </i>
       
       <h2>
        <a href="/index.html" > 
               PontyBridge University<br> Library</a>
       </h2>        
      </div>
    </header>
  
  <!-- You write code for this content block in another file -->
  {% block content %} {% endblock %}

    <footer>
      <div class="footer-container">
        <h5 class="logo--footer"> 
          PontyBridge University 
        </h5>
        <div class="footer-icons">
            <a href="#" alt="twitter icon" class="footer-icons__elm">  
              <i class="fab fa-twitter-square"></i>
            </a>
            <a href="#" alt="facebook icon" class="footer-icons__elm">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" alt="instagram icon" class="footer-icons__elm">
              <i class="fab fa-instagram"></i>
            </a>
        </div>
      
     </div>    
      
    </footer>
  </div> <!-- end of .container -->
  <!-- add js files -->
  {%block js %} {% endblock %}

  
</body>
</html>