<!-- animation.njk -->
<div class="loading-animation">
  <span class="circle circle--1"></span>
  <span class="circle circle--2"></span>
  <span class="circle circle--3"></span>
</div>
<div class="message">

Message
</div>