/*** Navigation layout ***/
nav {
  width: 100%;
  background-color: $nav-bg-col;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;

  &__elm {
    align-self: stretch;
    justify-self: center;
    flex: 0 1 9.5em;
    background-color: $nav-bg-col;
    padding: 0.2em;
    margin: 0 0.4em;

    & a {
      display: block;
      padding: 0.8em 0;
    }
  }
}

.nav-container__elm a,
.nav-container__elm .dropbtn {
  color: $white;
  text-decoration: none;
  text-align: center;
}

.dropdown {
  overflow: hidden;
}

.dropbtn {
  flex: 1;
  height: 3em;
  background-color: $btn-bg-dark;
  border: none;
  outline: none;
  margin: 0;
  cursor: pointer; // mouse pointer to work on mobile when :hover
}

.dropdown-content {
  display: none;
  margin: 0;
  position: absolute;
  cursor: pointer;
  min-width: 8.5em;
  background-color: $btn-bg-dark;
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  & a {
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 0.2em 0.4em;


  }
}

// add :focus for mobile devices
.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background-color: $drop-content-hover;
}