/* *** search results styles *** */

/* loans page */
.li--results-header {}

.li--no-results,
.li--results-header {
  list-style: none;
  font-size: 1.2em;
  font-weight: $bold;
  margin: 1em;
}

.show-search-results .fas {
  color: $icons-col;
  padding: 0 0.4em;
  font-size: 1.2em;
}

.loaned {
  color: $dark-blue;
  font-weight: $bold;
}