/*** grid ***/
// needs to work on grid!! just quick prototype!!!
.container {
  //background-color: aquamarine;
  margin: 0 auto;
  display: grid;
  max-width: 1250px;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "side-bar main-content"
    "side-bar main-content"
    "footer footer";
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.main-content {
  grid-area: main-content;
  margin: 1em 2em;

}

/*** Search page grid ***/
.search-para {
  grid-column: 1;
  align-self: center;
  justify-self: end;
}

.search-form {
  width: 70%;
  display: grid;
  grid-template-columns: 7em 1fr 1fr;
  grid-gap: 0.5em;

  & label {
    grid-column: 1/3;
    justify-self: start;
    align-self: end;
  }

  &__select {
    grid-column: 1/2;
    align-self: stretch;
  }

  &__search-input {
    grid-column: 2 / 4;
    align-self: end;
  }

  &__submit {
    grid-column: 2 /3;
  }

  &__reset {
    grid-column: 3 /4;
  }
}

.show-search-results {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;

  &__item--user {
    display: inline-grid;
    grid-template-columns: 2fr repeat(3, 1fr);

  }

  &__item--book {
    display: inline-grid;
    grid-template-columns: 2fr 2fr 1fr;

  }
}